@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

.hero {
  background: linear-gradient(
      79deg,
      #ffe5e5 -2.75%,
      #f5fffe 20.07%,
      #fff 54.28%,
      #fff 101.59%
    ),
    linear-gradient(
      360deg,
      #ffe5e5 -2.75%,
      #f5fffe 20.07%,
      #fff 54.28%,
      #fff 101.59%
    );
}
.hero3 {
  background: linear-gradient(
      79deg,
      #ffe5e5 -2.75%,
      #f5fffe 20.07%,
      #fff 54.28%,
      #fff 101.59%
    ),
    linear-gradient(
      360deg,
      #ffe5e5 -2.75%,
      #f5fffe 20.07%,
      #fff 54.28%,
      #fff 101.59%
    );
}

.hero2 {
  background: linear-gradient(
    256deg,
    #ffe5e5 -2.75%,
    #f5fffe 20.07%,
    #fff 54.28%,
    #fff 101.59%
  );
}
.hero3 {
  background: linear-gradient(79deg, #FFE5E5 8.52%, #F5FFFE 68.88%, #FFF 101.74%);
}

.bg-indigo-600{
  background-color: #393280;
}

.her0h1 {
  color: #393280;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; /* 87px */
  letter-spacing: -1.2px;
  text-transform: capitalize;
}

.herop {
  color: rgba(57, 50, 128, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 39.6px */
  letter-spacing: 0.88px;
}


footer{
    background: linear-gradient(90deg, rgba(255, 229, 229, 0.52) 0%, rgba(245, 255, 254, 0.52) 13.33%, rgba(252, 243, 255, 0.52) 54.58%, rgba(255, 244, 229, 0.52) 99.86%);
}